/* Import the design system styles */
@import 'lago-design-system/style';

/* Useful for components that are styled with tailwind in the app */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue no-underline visited:text-purple hover:underline focus:rounded focus:ring;
}

#superset iframe {
  width: 100%;
  height: 100%;
}

#superset .ant-tabs-nav-wrap {
  margin-left: 28px;
}
