name: Manual Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        required: true
jobs:
  build-image:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Log In to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: getlago/front:${{ github.event.inputs.version }}
      
      - name: Build and Push ARM64 Docker Image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.arm64
          push: true
          platforms: linux/arm64
          tags: getlago/front-arm64v8:${{ github.event.inputs.version }}
